CREATE DATABASE [BDGEmpresa1TE]
GO
USE [BDGEmpresa1TE]
GO
/****** Object:  Table [dbo].[TBCAS_AVISO_ARCHIVO]    Script Date: 15/09/2020 09:13:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISO_ARCHIVO](
	[EMPRESA_CODIGO] [varchar](4) NOT NULL,
	[AVISO_CODIGO] [numeric](18, 0) NOT NULL,
	[AVISO_ARCHIVO] [varchar](500) NULL,
	[AVISO_RUTA] [varchar](500) NULL,
	[AVISO_SYS_CRE] [varchar](20) NULL,
	[AVISO_SYS_EST] [varchar](1) NULL,
	[AVISOARCH_CODIGO] [numeric](18, 0) NOT NULL,
	[AVISOARCH_NROVECES] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TBCAS_AVISO_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[EMPRESA_CODIGO] ASC,
	[AVISO_CODIGO] ASC,
	[AVISOARCH_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCAS_AVISO_COMENTARIO]    Script Date: 15/09/2020 09:13:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISO_COMENTARIO](
	[EMPRESA_CODIGO] [varchar](4) NOT NULL,
	[AVISO_CODIGO] [numeric](18, 0) NOT NULL,
	[AVISOCOM_ID] [numeric](18, 0) NOT NULL,
	[AVISOCOM_USUARIO] [varchar](8) NULL,
	[AVISOCOM_COMENTARIO] [varchar](5000) NULL,
	[AVISOCOM_FECHA] [varchar](8) NULL,
	[AVISOCOM_HORA] [varchar](4) NULL,
	[AVISOCOM_SYS_EST] [varchar](1) NULL,
	[AVISOCOM_SYS_CRE] [varchar](20) NULL,
 CONSTRAINT [PK_TBCAS_AVISO_COMENTARIO_1] PRIMARY KEY CLUSTERED 
(
	[EMPRESA_CODIGO] ASC,
	[AVISO_CODIGO] ASC,
	[AVISOCOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCAS_AVISOS]    Script Date: 15/09/2020 09:13:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISOS](
	[EMPRESA_CODIGO] [varchar](4) NOT NULL,
	[AVISO_NRO] [numeric](18, 0) NOT NULL,
	[AVISO_TIPO_NRO] [numeric](18, 0) NOT NULL,
	[AVISO_REGFECHA] [varchar](8) NULL,
	[AVISO_REGHORA] [varchar](6) NULL,
	[AVISO_PUBFECHA] [varchar](8) NULL,
	[AVISO_PUBHORA] [varchar](6) NULL,
	[AVISO_DESCRIPCION] [varchar](2000) NULL,
	[AVISO_ESTADO_NRO] [numeric](18, 0) NOT NULL,
	[AVISO_SYS_EST] [varchar](1) NULL,
	[AVISO_DETALLE] [varchar](2000) NULL,
 CONSTRAINT [PK_TBCAS_AVISOS_1] PRIMARY KEY CLUSTERED 
(
	[EMPRESA_CODIGO] ASC,
	[AVISO_NRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCAS_AVISOS_ARCHIVO_XUSUARIO]    Script Date: 15/09/2020 09:13:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISOS_ARCHIVO_XUSUARIO](
	[EMPRESA_CODIGO] [varchar](4) NOT NULL,
	[AVISO_CODIGO] [numeric](18, 0) NOT NULL,
	[AVISOARCH_CODIGO] [numeric](18, 0) NOT NULL,
	[AVISOARCH_USUARIO] [nchar](10) NOT NULL,
	[AVISOARCH_FECHA] [varchar](8) NOT NULL,
	[AVISOARCH_HORA] [varchar](4) NOT NULL,
	[AVISOARCH_SYS_EST] [varchar](1) NULL,
	[AVISOARCH_SYS_CRE] [varchar](20) NULL,
 CONSTRAINT [PK_TBCAS_AVISOS_ARCHIVO_XUSUARIO] PRIMARY KEY CLUSTERED 
(
	[EMPRESA_CODIGO] ASC,
	[AVISO_CODIGO] ASC,
	[AVISOARCH_CODIGO] ASC,
	[AVISOARCH_USUARIO] ASC,
	[AVISOARCH_FECHA] ASC,
	[AVISOARCH_HORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCAS_AVISOS_PUBLICA]    Script Date: 15/09/2020 09:13:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISOS_PUBLICA](
	[EMPRESA_CODIGO] [varchar](4) NOT NULL,
	[USUARIO] [varchar](8) NOT NULL,
	[AVISO_NRO] [numeric](18, 0) NOT NULL,
	[ESTADO] [varchar](1) NULL,
 CONSTRAINT [PK_TBCAS_AVISOS_PUBLICA] PRIMARY KEY CLUSTERED 
(
	[EMPRESA_CODIGO] ASC,
	[USUARIO] ASC,
	[AVISO_NRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TBCAS_AVISO_ARCHIVO]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISO_ARCHIVO_TBCAS_AVISOS1] FOREIGN KEY([EMPRESA_CODIGO], [AVISO_CODIGO])
REFERENCES [dbo].[TBCAS_AVISOS] ([EMPRESA_CODIGO], [AVISO_NRO])
GO
ALTER TABLE [dbo].[TBCAS_AVISO_ARCHIVO] CHECK CONSTRAINT [FK_TBCAS_AVISO_ARCHIVO_TBCAS_AVISOS1]
GO
ALTER TABLE [dbo].[TBCAS_AVISO_COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISO_COMENTARIO_TBCAS_AVISOS] FOREIGN KEY([EMPRESA_CODIGO], [AVISO_CODIGO])
REFERENCES [dbo].[TBCAS_AVISOS] ([EMPRESA_CODIGO], [AVISO_NRO])
GO
ALTER TABLE [dbo].[TBCAS_AVISO_COMENTARIO] CHECK CONSTRAINT [FK_TBCAS_AVISO_COMENTARIO_TBCAS_AVISOS]
GO
ALTER TABLE [dbo].[TBCAS_AVISOS_ARCHIVO_XUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISOS_ARCHIVO_XUSUARIO_TBCAS_AVISO_ARCHIVO] FOREIGN KEY([EMPRESA_CODIGO], [AVISO_CODIGO], [AVISOARCH_CODIGO])
REFERENCES [dbo].[TBCAS_AVISO_ARCHIVO] ([EMPRESA_CODIGO], [AVISO_CODIGO], [AVISOARCH_CODIGO])
GO
ALTER TABLE [dbo].[TBCAS_AVISOS_ARCHIVO_XUSUARIO] CHECK CONSTRAINT [FK_TBCAS_AVISOS_ARCHIVO_XUSUARIO_TBCAS_AVISO_ARCHIVO]
GO
ALTER TABLE [dbo].[TBCAS_AVISOS_PUBLICA]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISOS_PUBLICA_TBCAS_AVISOS] FOREIGN KEY([EMPRESA_CODIGO], [AVISO_NRO])
REFERENCES [dbo].[TBCAS_AVISOS] ([EMPRESA_CODIGO], [AVISO_NRO])
GO
ALTER TABLE [dbo].[TBCAS_AVISOS_PUBLICA] CHECK CONSTRAINT [FK_TBCAS_AVISOS_PUBLICA_TBCAS_AVISOS]
GO


/****** Object:  Table [dbo].[TBCAS_AVISOS_TIPO]    Script Date: 16/09/2020 13:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISOS_TIPO](
	[AVISO_TIPO_DESCRIP] [varchar](20) NOT NULL,
	[AVISO_TIPO_NRO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_TBCAS_AVISOS_TIPO_1] PRIMARY KEY CLUSTERED 
(
	[AVISO_TIPO_NRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TBCAS_AVISOS]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISOS_TBCAS_AVISOS_TIPO1] FOREIGN KEY(AVISO_TIPO_NRO)
REFERENCES [dbo].[TBCAS_AVISOS_TIPO] (AVISO_TIPO_NRO)
GO
ALTER TABLE [dbo].[TBCAS_AVISOS] CHECK CONSTRAINT [FK_TBCAS_AVISOS_TBCAS_AVISOS_TIPO1]
GO

/****** Object:  Table [dbo].[TBCAS_AVISOS_ESTADO]    Script Date: 16/09/2020 14:00:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCAS_AVISOS_ESTADO](
	[AVISO_ESTADO_DESCRIP] [varchar](20) NOT NULL,
	[AVISO_ESTADO_NRO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_TBCAS_AVISOS_ESTADO_1] PRIMARY KEY CLUSTERED 
(
	[AVISO_ESTADO_NRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TBCAS_AVISOS]  WITH CHECK ADD  CONSTRAINT [FK_TBCAS_AVISOS_TBCAS_AVISOS_ESTADO1] FOREIGN KEY(AVISO_ESTADO_NRO)
REFERENCES [dbo].[TBCAS_AVISOS_ESTADO] (AVISO_ESTADO_NRO)
GO
ALTER TABLE [dbo].[TBCAS_AVISOS] CHECK CONSTRAINT [FK_TBCAS_AVISOS_TBCAS_AVISOS_ESTADO1]
GO

INSERT INTO TBCAS_AVISOS_TIPO (AVISO_TIPO_DESCRIP, AVISO_TIPO_NRO) VALUES ('Boletin', 1);
INSERT INTO TBCAS_AVISOS_TIPO (AVISO_TIPO_DESCRIP, AVISO_TIPO_NRO) VALUES ('Información',2 );
INSERT INTO TBCAS_AVISOS_TIPO (AVISO_TIPO_DESCRIP, AVISO_TIPO_NRO) VALUES ('Problema', 3);

INSERT INTO TBCAS_AVISOS_ESTADO (AVISO_ESTADO_DESCRIP, AVISO_ESTADO_NRO) VALUES ('Registrado', 1);
INSERT INTO TBCAS_AVISOS_ESTADO (AVISO_ESTADO_DESCRIP, AVISO_ESTADO_NRO) VALUES ('Publicado', 2);

INSERT INTO TBCAS_AVISOS (EMPRESA_CODIGO, AVISO_NRO, AVISO_TIPO_NRO, AVISO_REGFECHA, AVISO_REGHORA, AVISO_PUBFECHA, AVISO_PUBHORA, AVISO_DESCRIPCION, AVISO_ESTADO_NRO, AVISO_SYS_EST, AVISO_DETALLE) 
VALUES (1001, 2001, 2, '01-01-20', '08:00', '02-01-20', '09:00', 'la descripcion 1', 1, 2, 'este es un detalle 1');

INSERT INTO TBCAS_AVISOS (EMPRESA_CODIGO, AVISO_NRO, AVISO_TIPO_NRO, AVISO_REGFECHA, AVISO_REGHORA, AVISO_PUBFECHA, AVISO_PUBHORA, AVISO_DESCRIPCION, AVISO_ESTADO_NRO, AVISO_SYS_EST, AVISO_DETALLE) 
VALUES (1002, 2002, 3, '01-02-20', '18:00', '02-02-20', '19:00', 'la descripcion 2', 2, 1, 'este es un detalle 2');

INSERT INTO TBCAS_AVISOS (EMPRESA_CODIGO, AVISO_NRO, AVISO_TIPO_NRO, AVISO_REGFECHA, AVISO_REGHORA, AVISO_PUBFECHA, AVISO_PUBHORA, AVISO_DESCRIPCION, AVISO_ESTADO_NRO, AVISO_SYS_EST, AVISO_DETALLE) 
VALUES (1003, 2003, 1, '01-03-20', '00:00', '02-03-20', '02:00', 'la descripcion 3', 1, 2, 'este es un detalle 3');